:root {
	/* Red */

	--clr-mat-red-50: #ffebee;
		--clr-mat-red-50l: #ffffff;
		--clr-mat-red-50d: #ccb9bc;
	--clr-mat-red-100: #ffcdd2;
		--clr-mat-red-100l: #ffffff;
		--clr-mat-red-100d: #cb9ca1;
	--clr-mat-red-200: #ef9a9a;
		--clr-mat-red-200l: #ffcccb;
		--clr-mat-red-200d: #ba6b6c;
	--clr-mat-red-300: #e57373;
		--clr-mat-red-300l: #ffa4a2;
		--clr-mat-red-300d: #af4448;
	--clr-mat-red-400: #ef5350;
		--clr-mat-red-400l: #ff867c;
		--clr-mat-red-400d: #b61827;
	--clr-mat-red-500: #f44336;
		--clr-mat-red-500l: #ff7961;
		--clr-mat-red-500d: #ba000d;
	--clr-mat-red-600: #e53935;
		--clr-mat-red-600l: #ff6f60;
		--clr-mat-red-600d: #ab000d;
	--clr-mat-red-700: #d32f2f;
		--clr-mat-red-700l: #ff6659;
		--clr-mat-red-700d: #9a0007;
	--clr-mat-red-800: #c62828;
		--clr-mat-red-800l: #ff5f52;
		--clr-mat-red-800d: #8e0000;
	--clr-mat-red-900: #b71c1c;
		--clr-mat-red-900l: #f05545;
		--clr-mat-red-900d: #7f0000;
	--clr-mat-red-a100: #ff8a80;
		--clr-mat-red-a100l: #ffbcaf;
		--clr-mat-red-a100d: #c85a54;
	--clr-mat-red-a200: #ff5252;
		--clr-mat-red-a200l: #ff867f;
		--clr-mat-red-a200d: #c50e29;
	--clr-mat-red-a400: #ff1744;
		--clr-mat-red-a400l: #ff616f;
		--clr-mat-red-a400d: #c4001d;
	--clr-mat-red-a700: #d50000;
		--clr-mat-red-a700l: #ff5131;
		--clr-mat-red-a700d: #9b0000;

	/* Pink */

	--clr-mat-pink-50: #fce4ec;
		--clr-mat-pink-50l: #ffffff;
		--clr-mat-pink-50d: #c9b2ba;
	--clr-mat-pink-100: #f8bbd0;
		--clr-mat-pink-100l: #ffeeff;
		--clr-mat-pink-100d: #c48b9f;
	--clr-mat-pink-200: #f48fb1;
		--clr-mat-pink-200l: #ffc1e3;
		--clr-mat-pink-200d: #bf5f82;
	--clr-mat-pink-300: #f06292;
		--clr-mat-pink-300l: #ff94c2;
		--clr-mat-pink-300d: #ba2d65;
	--clr-mat-pink-400: #ec407a;
		--clr-mat-pink-400l: #ff77a9;
		--clr-mat-pink-400d: #b4004e;
	--clr-mat-pink-500: #e91e63;
		--clr-mat-pink-500l: #ff6090;
		--clr-mat-pink-500d: #b0003a;
	--clr-mat-pink-600: #d81b60;
		--clr-mat-pink-600l: #ff5c8d;
		--clr-mat-pink-600d: #a00037;
	--clr-mat-pink-700: #c2185b;
		--clr-mat-pink-700l: #fa5788;
		--clr-mat-pink-700d: #8c0032;
	--clr-mat-pink-800: #ad1457;
		--clr-mat-pink-800l: #e35183;
		--clr-mat-pink-800d: #78002e;
	--clr-mat-pink-900: #880e4f;
		--clr-mat-pink-900l: #bc477b;
		--clr-mat-pink-900d: #560027;
	--clr-mat-pink-a100: #ff80ab;
		--clr-mat-pink-a100l: #ffb2dd;
		--clr-mat-pink-a100d: #c94f7c;
	--clr-mat-pink-a200: #ff4081;
		--clr-mat-pink-a200l: #ff79b0;
		--clr-mat-pink-a200d: #c60055;
	--clr-mat-pink-a400: #f50057;
		--clr-mat-pink-a400l: #ff5983;
		--clr-mat-pink-a400d: #bb002f;
	--clr-mat-pink-a700: #c51162;
		--clr-mat-pink-a700l: #fd558f;
		--clr-mat-pink-a700d: #8e0038;

	/* Purple */

	--clr-mat-purple-50: #f3e5f5;
		--clr-mat-purple-50l: #ffffff;
		--clr-mat-purple-50d: #c0b3c2;
	--clr-mat-purple-100: #e1bee7;
		--clr-mat-purple-100l: #fff1ff;
		--clr-mat-purple-100d: #af8eb5;
	--clr-mat-purple-200: #ce93d8;
		--clr-mat-purple-200l: #ffc4ff;
		--clr-mat-purple-200d: #9c64a6;
	--clr-mat-purple-300: #ba68c8;
		--clr-mat-purple-300l: #ee98fb;
		--clr-mat-purple-300d: #883997;
	--clr-mat-purple-400: #ab47bc;
		--clr-mat-purple-400l: #df78ef;
		--clr-mat-purple-400d: #790e8b;
	--clr-mat-purple-500: #9c27b0;
		--clr-mat-purple-500l: #d05ce3;
		--clr-mat-purple-500d: #6a0080;
	--clr-mat-purple-600: #8e24aa;
		--clr-mat-purple-600l: #c158dc;
		--clr-mat-purple-600d: #5c007a;
	--clr-mat-purple-700: #7b1fa2;
		--clr-mat-purple-700l: #ae52d4;
		--clr-mat-purple-700d: #4a0072;
	--clr-mat-purple-800: #6a1b9a;
		--clr-mat-purple-800l: #9c4dcc;
		--clr-mat-purple-800d: #38006b;
	--clr-mat-purple-900: #4a148c;
		--clr-mat-purple-900l: #7c43bd;
		--clr-mat-purple-900d: #12005e;
	--clr-mat-purple-a100: #ea80fc;
		--clr-mat-purple-a100l: #ffb2ff;
		--clr-mat-purple-a100d: #b64fc8;
	--clr-mat-purple-a200: #e040fb;
		--clr-mat-purple-a200l: #ff79ff;
		--clr-mat-purple-a200d: #aa00c7;
	--clr-mat-purple-a400: #d500f9;
		--clr-mat-purple-a400l: #ff5bff;
		--clr-mat-purple-a400d: #9e00c5;
	--clr-mat-purple-a700: #aa00ff;
		--clr-mat-purple-a700l: #e254ff;
		--clr-mat-purple-a700d: #7200ca;

	/* Deep Purple */

	--clr-mat-deep_purple-50: #ede7f6;
		--clr-mat-deep_purple-50l: #ffffff;
		--clr-mat-deep_purple-50d: #bbb5c3;
	--clr-mat-deep_purple-100: #d1c4e9;
		--clr-mat-deep_purple-100l: #fff7ff;
		--clr-mat-deep_purple-100d: #a094b7;
	--clr-mat-deep_purple-200: #b39ddb;
		--clr-mat-deep_purple-200l: #e6ceff;
		--clr-mat-deep_purple-200d: #836fa9;
	--clr-mat-deep_purple-300: #9575cd;
		--clr-mat-deep_purple-300l: #c7a4ff;
		--clr-mat-deep_purple-300d: #65499c;
	--clr-mat-deep_purple-400: #7e57c2;
		--clr-mat-deep_purple-400l: #b085f5;
		--clr-mat-deep_purple-400d: #4d2c91;
	--clr-mat-deep_purple-500: #673ab7;
		--clr-mat-deep_purple-500l: #9a67ea;
		--clr-mat-deep_purple-500d: #320b86;
	--clr-mat-deep_purple-600: #5e35b1;
		--clr-mat-deep_purple-600l: #9162e4;
		--clr-mat-deep_purple-600d: #280680;
	--clr-mat-deep_purple-700: #512da8;
		--clr-mat-deep_purple-700l: #8559da;
		--clr-mat-deep_purple-700d: #140078;
	--clr-mat-deep_purple-800: #4527a0;
		--clr-mat-deep_purple-800l: #7953d2;
		--clr-mat-deep_purple-800d: #000070;
	--clr-mat-deep_purple-900: #311b92;
		--clr-mat-deep_purple-900l: #6746c3;
		--clr-mat-deep_purple-900d: #000063;
	--clr-mat-deep_purple-a100: #b388ff;
		--clr-mat-deep_purple-a100l: #e7b9ff;
		--clr-mat-deep_purple-a100d: #805acb;
	--clr-mat-deep_purple-a200: #7c4dff;
		--clr-mat-deep_purple-a200l: #b47cff;
		--clr-mat-deep_purple-a200d: #3f1dcb;
	--clr-mat-deep_purple-a400: #651fff;
		--clr-mat-deep_purple-a400l: #a255ff;
		--clr-mat-deep_purple-a400d: #0100ca;
	--clr-mat-deep_purple-a700: #6200ea;
		--clr-mat-deep_purple-a700l: #9d46ff;
		--clr-mat-deep_purple-a700d: #0a00b6;

	/* Indigo */

	--clr-mat-indigo-50: #e8eaf6;
		--clr-mat-indigo-50l: #ffffff;
		--clr-mat-indigo-50d: #b6b8c3;
	--clr-mat-indigo-100: #c5cae9;
		--clr-mat-indigo-100l: #f8fdff;
		--clr-mat-indigo-100d: #9499b7;
	--clr-mat-indigo-200: #9fa8da;
		--clr-mat-indigo-200l: #d1d9ff;
		--clr-mat-indigo-200d: #6f79a8;
	--clr-mat-indigo-300: #7986cb;
		--clr-mat-indigo-300l: #aab6fe;
		--clr-mat-indigo-300d: #49599a;
	--clr-mat-indigo-400: #5c6bc0;
		--clr-mat-indigo-400l: #8e99f3;
		--clr-mat-indigo-400d: #26418f;
	--clr-mat-indigo-500: #3f51b5;
		--clr-mat-indigo-500l: #757de8;
		--clr-mat-indigo-500d: #002984;
	--clr-mat-indigo-600: #3949ab;
		--clr-mat-indigo-600l: #6f74dd;
		--clr-mat-indigo-600d: #00227b;
	--clr-mat-indigo-700: #303f9f;
		--clr-mat-indigo-700l: #666ad1;
		--clr-mat-indigo-700d: #001970;
	--clr-mat-indigo-800: #283593;
		--clr-mat-indigo-800l: #5f5fc4;
		--clr-mat-indigo-800d: #001064;
	--clr-mat-indigo-900: #1a237e;
		--clr-mat-indigo-900l: #534bae;
		--clr-mat-indigo-900d: #000051;
	--clr-mat-indigo-a100: #8c9eff;
		--clr-mat-indigo-a100l: #c0cfff;
		--clr-mat-indigo-a100d: #5870cb;
	--clr-mat-indigo-a200: #536dfe;
		--clr-mat-indigo-a200l: #8f9bff;
		--clr-mat-indigo-a200d: #0043ca;
	--clr-mat-indigo-a400: #3d5afe;
		--clr-mat-indigo-a400l: #8187ff;
		--clr-mat-indigo-a400d: #0031ca;
	--clr-mat-indigo-a700: #304ffe;
		--clr-mat-indigo-a700l: #7a7cff;
		--clr-mat-indigo-a700d: #0026ca;

	/* Blue */

	--clr-mat-blue-50: #e3f2fd;
		--clr-mat-blue-50l: #ffffff;
		--clr-mat-blue-50d: #b1bfca;
	--clr-mat-blue-100: #bbdefb;
		--clr-mat-blue-100l: #eeffff;
		--clr-mat-blue-100d: #8aacc8;
	--clr-mat-blue-200: #90caf9;
		--clr-mat-blue-200l: #c3fdff;
		--clr-mat-blue-200d: #5d99c6;
	--clr-mat-blue-300: #64b5f6;
		--clr-mat-blue-300l: #9be7ff;
		--clr-mat-blue-300d: #2286c3;
	--clr-mat-blue-400: #42a5f5;
		--clr-mat-blue-400l: #80d6ff;
		--clr-mat-blue-400d: #0077c2;
	--clr-mat-blue-500: #2196f3;
		--clr-mat-blue-500l: #6ec6ff;
		--clr-mat-blue-500d: #0069c0;
	--clr-mat-blue-600: #1e88e5;
		--clr-mat-blue-600l: #6ab7ff;
		--clr-mat-blue-600d: #005cb2;
	--clr-mat-blue-700: #1976d2;
		--clr-mat-blue-700l: #63a4ff;
		--clr-mat-blue-700d: #004ba0;
	--clr-mat-blue-800: #1565c0;
		--clr-mat-blue-800l: #5e92f3;
		--clr-mat-blue-800d: #003c8f;
	--clr-mat-blue-900: #0d47a1;
		--clr-mat-blue-900l: #5472d3;
		--clr-mat-blue-900d: #002171;
	--clr-mat-blue-a100: #82b1ff;
		--clr-mat-blue-a100l: #b6e3ff;
		--clr-mat-blue-a100d: #4d82cb;
	--clr-mat-blue-a200: #448aff;
		--clr-mat-blue-a200l: #83b9ff;
		--clr-mat-blue-a200d: #005ecb;
	--clr-mat-blue-a400: #2979ff;
		--clr-mat-blue-a400l: #75a7ff;
		--clr-mat-blue-a400d: #004ecb;
	--clr-mat-blue-a700: #2962ff;
		--clr-mat-blue-a700l: #768fff;
		--clr-mat-blue-a700d: #0039cb;

	/* Light Blue */

	--clr-mat-light_blue-50: #e1f5fe;
		--clr-mat-light_blue-50l: #ffffff;
		--clr-mat-light_blue-50d: #afc2cb;
	--clr-mat-light_blue-100: #b3e5fc;
		--clr-mat-light_blue-100l: #e6ffff;
		--clr-mat-light_blue-100d: #82b3c9;
	--clr-mat-light_blue-200: #81d4fa;
		--clr-mat-light_blue-200l: #b6ffff;
		--clr-mat-light_blue-200d: #4ba3c7;
	--clr-mat-light_blue-300: #4fc3f7;
		--clr-mat-light_blue-300l: #8bf6ff;
		--clr-mat-light_blue-300d: #0093c4;
	--clr-mat-light_blue-400: #29b6f6;
		--clr-mat-light_blue-400l: #73e8ff;
		--clr-mat-light_blue-400d: #0086c3;
	--clr-mat-light_blue-500: #03a9f4;
		--clr-mat-light_blue-500l: #67daff;
		--clr-mat-light_blue-500d: #007ac1;
	--clr-mat-light_blue-600: #039be5;
		--clr-mat-light_blue-600l: #63ccff;
		--clr-mat-light_blue-600d: #006db3;
	--clr-mat-light_blue-700: #0288d1;
		--clr-mat-light_blue-700l: #5eb8ff;
		--clr-mat-light_blue-700d: #005b9f;
	--clr-mat-light_blue-800: #0277bd;
		--clr-mat-light_blue-800l: #58a5f0;
		--clr-mat-light_blue-800d: #004c8c;
	--clr-mat-light_blue-900: #01579b;
		--clr-mat-light_blue-900l: #4f83cc;
		--clr-mat-light_blue-900d: #002f6c;
	--clr-mat-light_blue-a100: #80d8ff;
		--clr-mat-light_blue-a100l: #b5ffff;
		--clr-mat-light_blue-a100d: #49a7cc;
	--clr-mat-light_blue-a200: #40c4ff;
		--clr-mat-light_blue-a200l: #82f7ff;
		--clr-mat-light_blue-a200d: #0094cc;
	--clr-mat-light_blue-a400: #00b0ff;
		--clr-mat-light_blue-a400l: #69e2ff;
		--clr-mat-light_blue-a400d: #0081cb;
	--clr-mat-light_blue-a700: #0091ea;
		--clr-mat-light_blue-a700l: #64c1ff;
		--clr-mat-light_blue-a700d: #0064b7;

	/* Cyan */

	--clr-mat-cyan-50: #e0f7fa;
		--clr-mat-cyan-50l: #ffffff;
		--clr-mat-cyan-50d: #aec4c7;
	--clr-mat-cyan-100: #b2ebf2;
		--clr-mat-cyan-100l: #e5ffff;
		--clr-mat-cyan-100d: #81b9bf;
	--clr-mat-cyan-200: #80deea;
		--clr-mat-cyan-200l: #b4ffff;
		--clr-mat-cyan-200d: #4bacb8;
	--clr-mat-cyan-300: #4dd0e1;
		--clr-mat-cyan-300l: #88ffff;
		--clr-mat-cyan-300d: #009faf;
	--clr-mat-cyan-400: #26c6da;
		--clr-mat-cyan-400l: #6ff9ff;
		--clr-mat-cyan-400d: #0095a8;
	--clr-mat-cyan-500: #00bcd4;
		--clr-mat-cyan-500l: #62efff;
		--clr-mat-cyan-500d: #008ba3;
	--clr-mat-cyan-600: #00acc1;
		--clr-mat-cyan-600l: #5ddef4;
		--clr-mat-cyan-600d: #007c91;
	--clr-mat-cyan-700: #0097a7;
		--clr-mat-cyan-700l: #56c8d8;
		--clr-mat-cyan-700d: #006978;
	--clr-mat-cyan-800: #00838f;
		--clr-mat-cyan-800l: #4fb3bf;
		--clr-mat-cyan-800d: #005662;
	--clr-mat-cyan-900: #006064;
		--clr-mat-cyan-900l: #428e92;
		--clr-mat-cyan-900d: #00363a;
	--clr-mat-cyan-a100: #84ffff;
		--clr-mat-cyan-a100l: #baffff;
		--clr-mat-cyan-a100d: #4bcbcc;
	--clr-mat-cyan-a200: #18ffff;
		--clr-mat-cyan-a200l: #76ffff;
		--clr-mat-cyan-a200d: #00cbcc;
	--clr-mat-cyan-a400: #00e5ff;
		--clr-mat-cyan-a400l: #6effff;
		--clr-mat-cyan-a400d: #00b2cc;
	--clr-mat-cyan-a700: #00b8d4;
		--clr-mat-cyan-a700l: #62ebff;
		--clr-mat-cyan-a700d: #0088a3;

	/* Teal */

	--clr-mat-teal-50: #e0f2f1;
		--clr-mat-teal-50l: #ffffff;
		--clr-mat-teal-50d: #aebfbe;
	--clr-mat-teal-100: #b2dfdb;
		--clr-mat-teal-100l: #e5ffff;
		--clr-mat-teal-100d: #82ada9;
	--clr-mat-teal-200: #80cbc4;
		--clr-mat-teal-200l: #b2fef7;
		--clr-mat-teal-200d: #4f9a94;
	--clr-mat-teal-300: #4db6ac;
		--clr-mat-teal-300l: #82e9de;
		--clr-mat-teal-300d: #00867d;
	--clr-mat-teal-400: #26a69a;
		--clr-mat-teal-400l: #64d8cb;
		--clr-mat-teal-400d: #00766c;
	--clr-mat-teal-500: #009688;
		--clr-mat-teal-500l: #52c7b8;
		--clr-mat-teal-500d: #00675b;
	--clr-mat-teal-600: #00897b;
		--clr-mat-teal-600l: #4ebaaa;
		--clr-mat-teal-600d: #005b4f;
	--clr-mat-teal-700: #00796b;
		--clr-mat-teal-700l: #48a999;
		--clr-mat-teal-700d: #004c40;
	--clr-mat-teal-800: #00695c;
		--clr-mat-teal-800l: #439889;
		--clr-mat-teal-800d: #003d33;
	--clr-mat-teal-900: #004d40;
		--clr-mat-teal-900l: #39796b;
		--clr-mat-teal-900d: #00251a;
	--clr-mat-teal-a100: #a7ffeb;
		--clr-mat-teal-a100l: #dbffff;
		--clr-mat-teal-a100d: #75ccb9;
	--clr-mat-teal-a200: #64ffda;
		--clr-mat-teal-a200l: #9effff;
		--clr-mat-teal-a200d: #14cba8;
	--clr-mat-teal-a400: #1de9b6;
		--clr-mat-teal-a400l: #6effe8;
		--clr-mat-teal-a400d: #00b686;
	--clr-mat-teal-a700: #00bfa5;
		--clr-mat-teal-a700l: #5df2d6;
		--clr-mat-teal-a700d: #008e76;

	/* Green */

	--clr-mat-green-50: #e8f5e9;
		--clr-mat-green-50l: #ffffff;
		--clr-mat-green-50d: #b6c2b7;
	--clr-mat-green-100: #c8e6c9;
		--clr-mat-green-100l: #fbfffc;
		--clr-mat-green-100d: #97b498;
	--clr-mat-green-200: #a5d6a7;
		--clr-mat-green-200l: #d7ffd9;
		--clr-mat-green-200d: #75a478;
	--clr-mat-green-300: #81c784;
		--clr-mat-green-300l: #b2fab4;
		--clr-mat-green-300d: #519657;
	--clr-mat-green-400: #66bb6a;
		--clr-mat-green-400l: #98ee99;
		--clr-mat-green-400d: #338a3e;
	--clr-mat-green-500: #4caf50;
		--clr-mat-green-500l: #80e27e;
		--clr-mat-green-500d: #087f23;
	--clr-mat-green-600: #43a047;
		--clr-mat-green-600l: #76d275;
		--clr-mat-green-600d: #00701a;
	--clr-mat-green-700: #388e3c;
		--clr-mat-green-700l: #6abf69;
		--clr-mat-green-700d: #00600f;
	--clr-mat-green-800: #2e7d32;
		--clr-mat-green-800l: #60ad5e;
		--clr-mat-green-800d: #005005;
	--clr-mat-green-900: #1b5e20;
		--clr-mat-green-900l: #4c8c4a;
		--clr-mat-green-900d: #003300;
	--clr-mat-green-a100: #b9f6ca;
		--clr-mat-green-a100l: #ecfffd;
		--clr-mat-green-a100d: #88c399;
	--clr-mat-green-a200: #69f0ae;
		--clr-mat-green-a200l: #9fffe0;
		--clr-mat-green-a200d: #2bbd7e;
	--clr-mat-green-a400: #00e676;
		--clr-mat-green-a400l: #66ffa6;
		--clr-mat-green-a400d: #00b248;
	--clr-mat-green-a700: #00c853;
		--clr-mat-green-a700l: #5efc82;
		--clr-mat-green-a700d: #009624;

	/* Light Green */

	--clr-mat-light_green-50: #f1f8e9;
		--clr-mat-light_green-50l: #ffffff;
		--clr-mat-light_green-50d: #bec5b7;
	--clr-mat-light_green-100: #dcedc8;
		--clr-mat-light_green-100l: #fffffb;
		--clr-mat-light_green-100d: #aabb97;
	--clr-mat-light_green-200: #c5e1a5;
		--clr-mat-light_green-200l: #f8ffd7;
		--clr-mat-light_green-200d: #94af76;
	--clr-mat-light_green-300: #aed581;
		--clr-mat-light_green-300l: #e1ffb1;
		--clr-mat-light_green-300d: #7da453;
	--clr-mat-light_green-400: #9ccc65;
		--clr-mat-light_green-400l: #cfff95;
		--clr-mat-light_green-400d: #6b9b37;
	--clr-mat-light_green-500: #8bc34a;
		--clr-mat-light_green-500l: #bef67a;
		--clr-mat-light_green-500d: #5a9216;
	--clr-mat-light_green-600: #7cb342;
		--clr-mat-light_green-600l: #aee571;
		--clr-mat-light_green-600d: #4b830d;
	--clr-mat-light_green-700: #689f38;
		--clr-mat-light_green-700l: #99d066;
		--clr-mat-light_green-700d: #387002;
	--clr-mat-light_green-800: #558b2f;
		--clr-mat-light_green-800l: #85bb5c;
		--clr-mat-light_green-800d: #255d00;
	--clr-mat-light_green-900: #33691e;
		--clr-mat-light_green-900l: #629749;
		--clr-mat-light_green-900d: #003d00;
	--clr-mat-light_green-a100: #ccff90;
		--clr-mat-light_green-a100l: #ffffc2;
		--clr-mat-light_green-a100d: #99cc60;
	--clr-mat-light_green-a200: #b2ff59;
		--clr-mat-light_green-a200l: #e7ff8c;
		--clr-mat-light_green-a200d: #7ecb20;
	--clr-mat-light_green-a400: #76ff03;
		--clr-mat-light_green-a400l: #b0ff57;
		--clr-mat-light_green-a400d: #32cb00;
	--clr-mat-light_green-a700: #64dd17;
		--clr-mat-light_green-a700l: #9cff57;
		--clr-mat-light_green-a700d: #1faa00;

	/* Lime */

	--clr-mat-lime-50: #f9fbe7;
		--clr-mat-lime-50l: #ffffff;
		--clr-mat-lime-50d: #c6c8b5;
	--clr-mat-lime-100: #f0f4c3;
		--clr-mat-lime-100l: #fffff6;
		--clr-mat-lime-100d: #bdc192;
	--clr-mat-lime-200: #e6ee9c;
		--clr-mat-lime-200l: #ffffce;
		--clr-mat-lime-200d: #b3bc6d;
	--clr-mat-lime-300: #dce775;
		--clr-mat-lime-300l: #ffffa6;
		--clr-mat-lime-300d: #a8b545;
	--clr-mat-lime-400: #a8b545;
		--clr-mat-lime-400l: #ffff89;
		--clr-mat-lime-400d: #a0af22;
	--clr-mat-lime-500: #cddc39;
		--clr-mat-lime-500l: #ffff6e;
		--clr-mat-lime-500d: #99aa00;
	--clr-mat-lime-600: #c0ca33;
		--clr-mat-lime-600l: #f5fd67;
		--clr-mat-lime-600d: #8c9900;
	--clr-mat-lime-700: #afb42b;
		--clr-mat-lime-700l: #e4e65e;
		--clr-mat-lime-700d: #7c8500;
	--clr-mat-lime-800: #9e9d24;
		--clr-mat-lime-800l: #d2ce56;
		--clr-mat-lime-800d: #6c6f00;
	--clr-mat-lime-900: #827717;
		--clr-mat-lime-900l: #b4a647;
		--clr-mat-lime-900d: #524c00;
	--clr-mat-lime-a100: #f4ff81;
		--clr-mat-lime-a100l: #ffffb3;
		--clr-mat-lime-a100d: #bfcc50;
	--clr-mat-lime-a200: #eeff41;
		--clr-mat-lime-a200l: #ffff78;
		--clr-mat-lime-a200d: #b8cc00;
	--clr-mat-lime-a400: #c6ff00;
		--clr-mat-lime-a400l: #fdff58;
		--clr-mat-lime-a400d: #90cc00;
	--clr-mat-lime-a700: #aeea00;
		--clr-mat-lime-a700l: #e4ff54;
		--clr-mat-lime-a700d: #79b700;

	/* Yellow */

	--clr-mat-yellow-50: #fffde7;
		--clr-mat-yellow-50l: #ffffff;
		--clr-mat-yellow-50d: #cccab5;
	--clr-mat-yellow-100: #fff9c4;
		--clr-mat-yellow-100l: #fffff7;
		--clr-mat-yellow-100d: #cbc693;
	--clr-mat-yellow-200: #fff59d;
		--clr-mat-yellow-200l: #ffffcf;
		--clr-mat-yellow-200d: #cbc26d;
	--clr-mat-yellow-300: #fff176;
		--clr-mat-yellow-300l: #ffffa8;
		--clr-mat-yellow-300d: #cabf45;
	--clr-mat-yellow-400: #ffee58;
		--clr-mat-yellow-400l: #ffff8b;
		--clr-mat-yellow-400d: #c9bc1f;
	--clr-mat-yellow-500: #ffeb3b;
		--clr-mat-yellow-500l: #ffff72;
		--clr-mat-yellow-500d: #c8b900;
	--clr-mat-yellow-600: #fdd835;
		--clr-mat-yellow-600l: #ffff6b;
		--clr-mat-yellow-600d: #c6a700;
	--clr-mat-yellow-700: #fbc02d;
		--clr-mat-yellow-700l: #fff263;
		--clr-mat-yellow-700d: #c49000;
	--clr-mat-yellow-800: #f9a825;
		--clr-mat-yellow-800l: #ffd95a;
		--clr-mat-yellow-800d: #c17900;
	--clr-mat-yellow-900: #f57f17;
		--clr-mat-yellow-900l: #ffb04c;
		--clr-mat-yellow-900d: #bc5100;
	--clr-mat-yellow-a100: #ffff8d;
		--clr-mat-yellow-a100l: #ffffbf;
		--clr-mat-yellow-a100d: #cacc5d;
	--clr-mat-yellow-a200: #ffff00;
		--clr-mat-yellow-a200l: #ffff5a;
		--clr-mat-yellow-a200d: #c7cc00;
	--clr-mat-yellow-a400: #ffea00;
		--clr-mat-yellow-a400l: #ffff56;
		--clr-mat-yellow-a400d: #c7b800;
	--clr-mat-yellow-a700: #ffd600;
		--clr-mat-yellow-a700l: #ffff52;
		--clr-mat-yellow-a700d: #c7a500;

	/* Amber */

	--clr-mat-amber-50: #fff8e1;
		--clr-mat-amber-50l: #ffffff;
		--clr-mat-amber-50d: #ccc5af;
	--clr-mat-amber-100: #ffecb3;
		--clr-mat-amber-100l: #ffffe5;
		--clr-mat-amber-100d: #cbba83;
	--clr-mat-amber-200: #ffe082;
		--clr-mat-amber-200l: #ffffb3;
		--clr-mat-amber-200d: #caae53;
	--clr-mat-amber-300: #ffd54f;
		--clr-mat-amber-300l: #ffff81;
		--clr-mat-amber-300d: #c8a415;
	--clr-mat-amber-400: #ffca28;
		--clr-mat-amber-400l: #fffd61;
		--clr-mat-amber-400d: #c79a00;
	--clr-mat-amber-500: #ffc107;
		--clr-mat-amber-500l: #fff350;
		--clr-mat-amber-500d: #c79100;
	--clr-mat-amber-600: #ffb300;
		--clr-mat-amber-600l: #ffe54c;
		--clr-mat-amber-600d: #c68400;
	--clr-mat-amber-700: #ffa000;
		--clr-mat-amber-700l: #ffd149;
		--clr-mat-amber-700d: #c67100;
	--clr-mat-amber-800: #ff8f00;
		--clr-mat-amber-800l: #ffc046;
		--clr-mat-amber-800d: #c56000;
	--clr-mat-amber-900: #ff6f00;
		--clr-mat-amber-900l: #ffa040;
		--clr-mat-amber-900d: #c43e00;
	--clr-mat-amber-a100: #ffe57f;
		--clr-mat-amber-a100l: #ffffb0;
		--clr-mat-amber-a100d: #cab350;
	--clr-mat-amber-a200: #ffd740;
		--clr-mat-amber-a200l: #ffff74;
		--clr-mat-amber-a200d: #c8a600;
	--clr-mat-amber-a400: #ffc400;
		--clr-mat-amber-a400l: #fff64f;
		--clr-mat-amber-a400d: #c79400;
	--clr-mat-amber-a700: #ffab00;
		--clr-mat-amber-a700l: #ffdd4b;
		--clr-mat-amber-a700d: #c67c00;

	/* Orange */

	--clr-mat-orange-50: #fff3e0;
		--clr-mat-orange-50l: #ffffff;
		--clr-mat-orange-50d: #ccc0ae;
	--clr-mat-orange-100: #ffe0b2;
		--clr-mat-orange-100l: #ffffe4;
		--clr-mat-orange-100d: #cbae82;
	--clr-mat-orange-200: #ffcc80;
		--clr-mat-orange-200l: #ffffb0;
		--clr-mat-orange-200d: #ca9b52;
	--clr-mat-orange-300: #ffb74d;
		--clr-mat-orange-300l: #ffe97d;
		--clr-mat-orange-300d: #c88719;
	--clr-mat-orange-400: #ffa726;
		--clr-mat-orange-400l: #ffd95b;
		--clr-mat-orange-400d: #c77800;
	--clr-mat-orange-500: #ff9800;
		--clr-mat-orange-500l: #ffc947;
		--clr-mat-orange-500d: #c66900;
	--clr-mat-orange-600: #fb8c00;
		--clr-mat-orange-600l: #ffbd45;
		--clr-mat-orange-600d: #c25e00;
	--clr-mat-orange-700: #f57c00;
		--clr-mat-orange-700l: #ffad42;
		--clr-mat-orange-700d: #bb4d00;
	--clr-mat-orange-800: #ef6c00;
		--clr-mat-orange-800l: #ff9d3f;
		--clr-mat-orange-800d: #b53d00;
	--clr-mat-orange-900: #e65100;
		--clr-mat-orange-900l: #ff833a;
		--clr-mat-orange-900d: #ac1900;
	--clr-mat-orange-a100: #ffd180;
		--clr-mat-orange-a100l: #ffffb1;
		--clr-mat-orange-a100d: #caa052;
	--clr-mat-orange-a200: #ffab40;
		--clr-mat-orange-a200l: #ffdd71;
		--clr-mat-orange-a200d: #c77c02;
	--clr-mat-orange-a400: #ff9100;
		--clr-mat-orange-a400l: #ffc246;
		--clr-mat-orange-a400d: #c56200;
	--clr-mat-orange-a700: #ff6d00;
		--clr-mat-orange-a700l: #ff9e40;
		--clr-mat-orange-a700d: #c43c00;

	/* Deep Orange */

	--clr-mat-deep_orange-50: #fbe9e7;
		--clr-mat-deep_orange-50l: #ffffff;
		--clr-mat-deep_orange-50d: #c8b7b5;
	--clr-mat-deep_orange-100: #ffccbc;
		--clr-mat-deep_orange-100l: #ffffee;
		--clr-mat-deep_orange-100d: #cb9b8c;
	--clr-mat-deep_orange-200: #ffab91;
		--clr-mat-deep_orange-200l: #ffddc1;
		--clr-mat-deep_orange-200d: #c97b63;
	--clr-mat-deep_orange-300: #ff8a65;
		--clr-mat-deep_orange-300l: #ffbb93;
		--clr-mat-deep_orange-300d: #c75b39;
	--clr-mat-deep_orange-400: #ff7043;
		--clr-mat-deep_orange-400l: #ffa270;
		--clr-mat-deep_orange-400d: #c63f17;
	--clr-mat-deep_orange-500: #ff5722;
		--clr-mat-deep_orange-500l: #ff8a50;
		--clr-mat-deep_orange-500d: #c41c00;
	--clr-mat-deep_orange-600: #f4511e;
		--clr-mat-deep_orange-600l: #ff844c;
		--clr-mat-deep_orange-600d: #b91400;
	--clr-mat-deep_orange-700: #e64a19;
		--clr-mat-deep_orange-700l: #ff7d47;
		--clr-mat-deep_orange-700d: #ac0800;
	--clr-mat-deep_orange-800: #d84315;
		--clr-mat-deep_orange-800l: #ff7543;
		--clr-mat-deep_orange-800d: #9f0000;
	--clr-mat-deep_orange-900: #bf360c;
		--clr-mat-deep_orange-900l: #f9683a;
		--clr-mat-deep_orange-900d: #870000;
	--clr-mat-deep_orange-a100: #ff9e80;
		--clr-mat-deep_orange-a100l: #ffd0b0;
		--clr-mat-deep_orange-a100d: #c96f53;
	--clr-mat-deep_orange-a200: #ff6e40;
		--clr-mat-deep_orange-a200l: #ffa06d;
		--clr-mat-deep_orange-a200d: #c53d13;
	--clr-mat-deep_orange-a400: #ff3d00;
		--clr-mat-deep_orange-a400l: #ff7539;
		--clr-mat-deep_orange-a400d: #c30000;
	--clr-mat-deep_orange-a700: #dd2c00;
		--clr-mat-deep_orange-a700l: #ff6434;
		--clr-mat-deep_orange-a700d: #a30000;

	/* Brown */

	--clr-mat-brown-50: #efebe9;
		--clr-mat-brown-50l: #ffffff;
		--clr-mat-brown-50d: #bdb9b7;
	--clr-mat-brown-100: #d7ccc8;
		--clr-mat-brown-100l: #fffffb;
		--clr-mat-brown-100d: #a69b97;
	--clr-mat-brown-200: #bcaaa4;
		--clr-mat-brown-200l: #efdcd5;
		--clr-mat-brown-200d: #8c7b75;
	--clr-mat-brown-300: #a1887f;
		--clr-mat-brown-300l: #d3b8ae;
		--clr-mat-brown-300d: #725b53;
	--clr-mat-brown-400: #8d6e63;
		--clr-mat-brown-400l: #be9c91;
		--clr-mat-brown-400d: #5f4339;
	--clr-mat-brown-500: #795548;
		--clr-mat-brown-500l: #a98274;
		--clr-mat-brown-500d: #4b2c20;
	--clr-mat-brown-600: #6d4c41;
		--clr-mat-brown-600l: #9c786c;
		--clr-mat-brown-600d: #40241a;
	--clr-mat-brown-700: #5d4037;
		--clr-mat-brown-700l: #8b6b61;
		--clr-mat-brown-700d: #321911;
	--clr-mat-brown-800: #4e342e;
		--clr-mat-brown-800l: #7b5e57;
		--clr-mat-brown-800d: #260e04;
	--clr-mat-brown-900: #3e2723;
		--clr-mat-brown-900l: #6a4f4b;
		--clr-mat-brown-900d: #1b0000;

	/* Grey */

	--clr-mat-grey-50: #fafafa;
		--clr-mat-grey-50l: #ffffff;
		--clr-mat-grey-50d: #c7c7c7;
	--clr-mat-grey-100: #f5f5f5;
		--clr-mat-grey-100l: #ffffff;
		--clr-mat-grey-100d: #c2c2c2;
	--clr-mat-grey-200: #eeeeee;
		--clr-mat-grey-200l: #ffffff;
		--clr-mat-grey-200d: #bcbcbc;
	--clr-mat-grey-300: #e0e0e0;
		--clr-mat-grey-300l: #ffffff;
		--clr-mat-grey-300d: #aeaeae;
	--clr-mat-grey-400: #bdbdbd;
		--clr-mat-grey-400l: #efefef;
		--clr-mat-grey-400d: #8d8d8d;
	--clr-mat-grey-500: #9e9e9e;
		--clr-mat-grey-500l: #cfcfcf;
		--clr-mat-grey-500d: #707070;
	--clr-mat-grey-600: #757575;
		--clr-mat-grey-600l: #a4a4a4;
		--clr-mat-grey-600d: #494949;
	--clr-mat-grey-700: #616161;
		--clr-mat-grey-700l: #8e8e8e;
		--clr-mat-grey-700d: #373737;
	--clr-mat-grey-800: #424242;
		--clr-mat-grey-800l: #6d6d6d;
		--clr-mat-grey-800d: #1b1b1b;
	--clr-mat-grey-900: #212121;
		--clr-mat-grey-900l: #484848;
		--clr-mat-grey-900d: #000000;

	/* Blue Grey */

	--clr-mat-blue_grey-50: #eceff1;
		--clr-mat-blue_grey-50l: #ffffff;
		--clr-mat-blue_grey-50d: #babdbe;
	--clr-mat-blue_grey-100: #cfd8dc;
		--clr-mat-blue_grey-100l: #ffffff;
		--clr-mat-blue_grey-100d: #9ea7aa;
	--clr-mat-blue_grey-200: #b0bec5;
		--clr-mat-blue_grey-200l: #e2f1f8;
		--clr-mat-blue_grey-200d: #808e95;
	--clr-mat-blue_grey-300: #90a4ae;
		--clr-mat-blue_grey-300l: #c1d5e0;
		--clr-mat-blue_grey-300d: #62757f;
	--clr-mat-blue_grey-400: #78909c;
		--clr-mat-blue_grey-400l: #a7c0cd;
		--clr-mat-blue_grey-400d: #4b636e;
	--clr-mat-blue_grey-500: #607d8b;
		--clr-mat-blue_grey-500l: #8eacbb;
		--clr-mat-blue_grey-500d: #34515e;
	--clr-mat-blue_grey-600: #546e7a;
		--clr-mat-blue_grey-600l: #819ca9;
		--clr-mat-blue_grey-600d: #29434e;
	--clr-mat-blue_grey-700: #455a64;
		--clr-mat-blue_grey-700l: #718792;
		--clr-mat-blue_grey-700d: #1c313a;
	--clr-mat-blue_grey-800: #37474f;
		--clr-mat-blue_grey-800l: #62727b;
		--clr-mat-blue_grey-800d: #102027;
	--clr-mat-blue_grey-900: #263238;
		--clr-mat-blue_grey-900l: #4f5b62;
		--clr-mat-blue_grey-900d: #000a12;
	
}